extends layout

block content

  p.lead
    | Hi! My name is Itai. I'm a software engineer at <a href="http://www.microsoft.com">Microsoft</a>,
    | currently with the <a href="http://www.microsoft.com/mac">Apple Productivity Experiences</a>
    | team (formerly known as the Macintosh Business Unit or MacBU).

  p.lead
    | I am also a student at the <a href="http://www.cs.washington.edu">School of Computer Science and Engineering</a>
    | at the <a href="http://www.washington.edu">University of Washington</a>, where I'm pursuing my master's degree in CS.

  p.lead
    | Check out my <a href="/work">work</a> page to see what I've been up to.

  ul.nav.nav-pills.pull-right
    li <a href="https://twitter.com/itairos"><i class="icon-twitter icon-4x"></i></a>
    li <a href="https://github.com/itairos"><i class="icon-github icon-4x"></i></a>
    li <a href="http://www.linkedin.com/pub/itai-rosenberger/39/7aa/415/"><i class="icon-linkedin icon-4x"></i></a>