extends layout

block content
	p
		| This is a partial, unordered list of the projects I've been working over the
		| past several years.
	table
		tr
			td(colspan="2")
				h3 Windows 8
		tr.poweritem
			td.poweritem-icon
				i.icon-windows.icon-2x
			td.poweritem
				| I was fortunate enough to be one of the first engineers to work on a brand new feature in
				| Windows 8 called <a href="http://www.microsoft.com/en-us/windows/enterprise/products-and-technologies/devices/windowstogo.aspx">
				| Windows To Go</a>, an enterprise feature that allows booting and running Windows 8 from USB
				| drives.
		tr.poweritem
			td.poweritem-icon
				i.icon-code.icon-2x
			td.poweritem
				| As part of my work on Windows To Go, I designed and implemented a variety of components throughout the Windows stack, from UI in C++, through 
				| Win32 DLLs, to boot sector code in assembly. My code literally runs on tens of millions of machines worldwide.
		tr.poweritem
			td.poweritem-icon
				i.icon-lightbulb.icon-2x
			td.poweritem
				| My colleagues and I invented <a href="http://www.google.com/patents/US20120284494">a method to dynamically redirect boot to another operating
				| system</a> (patent pending), so that even the technically challenged can boot into their
				| Windows 8 USB drive without fiddling with BIOS settings.
	table
		tr
			td(colspan="2")
				h3 OneNote for iOS 2.0
				h5 <a href="https://itunes.apple.com/us/app/microsoft-onenote-for-iphone/id410395246">iPhone</a> | <a href="https://itunes.apple.com/us/app/microsoft-onenote-for-ipad/id478105721">iPad</a>
		tr.poweritem
			td.poweritem-icon
				i.icon-edit.icon-2x
			td.poweritem
				| <a href="http://onenote.com">OneNote</a> is a beautiful notetaking app and part of the
				| <a href="http://office.com">Office</a> suite. OneNote helps you keep track of things in life and runs on desktops, laptops, tablets, phones
				| and browsers. It keeps your notes in sync across all devices.
		tr.poweritem
			td.poweritem-icon
				i.icon-thumbs-up.icon-2x
			td.poweritem
				| My team was responsible for the overhaul of OneNote 2.0 for iOS. We created a full-blown OneNote
				| version for iOS with a completely redesigned user interface. For more details, check out 
				| <a href="http://thenextweb.com/microsoft/2013/07/01/onenote-for-android-and-ios-updated-with-consistent-formatting-office-365-syncing-unlimited-notes-and-more/">The Next Web</a>,
				| <a href="http://www.theverge.com/2013/7/1/4482868/onenote-android-iphone-ipad-version-2-update-features">The Verge</a>
				| and <a href="http://www.engadget.com/2013/07/01/onenote/">Engadget</a>. This update
				| helped our iPad app improve its App Store rating from 3 to 4 stars.
		tr.poweritem
			td.poweritem-icon
				i.icon-dashboard.icon-2x
			td.poweritem
				| Rearchitected the app to be asynchronous and multithreaded using <a href="http://developer.apple.com/library/ios/#documentation/Performance/Reference/GCD_libdispatch_Ref/Reference/reference.html">
				| Grand Central Dispatch</a>, making the app 74% more responsive.
		tr.poweritem
			td.poweritem-icon
				i.icon-th-list.icon-2x
			td.poweritem
				| Implemented the user interface for sections, page list and sync UI (see screenshots below)
				| and improved the OneNote sync engine to better support mobile devices.
		tr.poweritem
			td.poweritem(colspan="2")
				div#onenote-screenshots.carousel.slide(data-interval="false")
					ol.carousel-indicators
						li.active(data-target="#onenote-screenshots", data-slide-to="0")
						li(data-target="#onenote-screenshots", data-slide-to="1")
						li(data-target="#onenote-screenshots", data-slide-to="2")
					div.carousel-inner
						div.active.item
							img(src="/images/oni-sections-ui.jpg", alt="")
							div.carousel-caption
								h4 Sections UI
								p Scrollable list of sections and section groups in a notebook.
						div.item
							img(src="/images/oni-sync.png", alt="")
							div.carousel-caption
								h4 Sync with SkyDrive and Office 365
						div.item
							img(src="/images/oni-reddit-ama.jpg", alt="")
							div.carousel-caption
								h4 <a href="http://redd.it/1hxzad">We Are The Microsoft OneNote Team - Ask Us Anything</a>
								p July 2013
					a.carousel-control.left(href="#onenote-screenshots", data-slide="prev") &lsaquo;
					a.carousel-control.right(href="#onenote-screenshots", data-slide="next") &rsaquo;
	table
		tr
			td(colspan="2")
				h3 Mayorita
		tr.poweritem
			td.poweritem-icon
				img(src="/images/mayorino.png")
			td.poweritem
				| <a href="http://mayorita.com">Mayorita</a> is a free web service that lets users tap into the
				| knowledge and opinions of others by asking any yes/no question and getting
				| an aggregated answer within seconds! Mayorita is the easiest, fastest and most reliable
				| way to leverage the <a href="https://en.wikipedia.org/wiki/Wisdom_of_the_crowd">wisdom
				| of the crowd</a>.
				| Mayorita is available on <a href="https://play.google.com/store/apps/details?id=com.mayorita.android">Android</a>,
				| <a href="https://itunes.apple.com/us/app/mayorita/id668406560">iOS</a> and the web. Try a hassle-free demo on <a href="https://www.mayorita.com">mayorita.com</a>.
		tr.poweritem
			td.poweritem-icon
				i.icon-mobile-phone.icon-3x
			td.poweritem
				| Designed and implemented Mayorita for iOS in Objective C, Cocoa Touch and
				| <a href="http://developer.apple.com/library/ios/#documentation/DataManagement/Conceptual/iPhoneCoreData01/Introduction/Introduction.html">
				| Core Data</a>. Used the following open source libraries: 
				| <a href="http://afnetworking.com">AFNetworking</a>,
				| <a href="https://github.com/jdg/MBProgressHUD">MBProgressHUD</a>,
				| <a href="https://github.com/romaonthego/REComposeViewController">REComposeViewController</a> 
				| (check out the screenshots below).
		tr.poweritem
			td.poweritem-icon
				i.icon-rocket.icon-2x
			td.poweritem
				| Led the development of the backend server in <a href="http://rubyonrails.org">Ruby on Rails</a>,
				| defined features and helped integrate the backend with its mobile applications.
		tr.poweritem
			td.poweritem(colspan="2")
				div#mayorita-screenshots.carousel.slide(style="width: 320px; margin: 0 auto", data-interval="false")
					ol.carousel-indicators
						li.active(data-target="#mayorita-screenshots", data-slide-to="0")
						li(data-target="#mayorita-screenshots", data-slide-to="1")
						li(data-target="#mayorita-screenshots", data-slide-to="2")
					div.carousel-inner
						div.active.item
							img(src="/images/mayorita-public-polls.jpg", alt="")
						div.item
							img(src="/images/mayorita-poll.jpg", alt="")
						div.item
							img(src="/images/mayorita-compose-poll.jpg", alt="")
					a.carousel-control.left(href="#mayorita-screenshots", data-slide="prev") &lsaquo;
					a.carousel-control.right(href="#mayorita-screenshots", data-slide="next") &rsaquo;
	table
		tr
			td(colspan="2")
				h3 Firesay
				h5 <a href="https://chrome.google.com/webstore/detail/firesay/beckbffgfhclpfljgegiggbmgakjmlaj">Chrome</a> | <a href="https://addons.mozilla.org/en-us/firefox/addon/firesay/">Firefox</a>
				div.alert <i class="icon-warning-sign"></i> This project is no longer under active development
		tr.poweritem
			td.poweritem-icon
				i.icon-microphone.icon-2x
			td.poweritem
				| Firesay is a plugin for Firefox and Chrome that offers an enhanced web browsing experience with voice
				| commands. With Firesay, you can use your voice to search the web, watch TV shows, share on social networks, control tabs,
				| scroll through pages and more. Firesay is great for people who want to browse
				| the web more efficiently or for people who cannot use their hands to interact with the browser
				| (i.e. cooks, people with disabilities etc.).
		tr.poweritem
			td.poweritem-icon
				i.icon-code.icon-2x
			td.poweritem
				| The plugin was written in C++, using STL and <a href="http://pocoproject.org">Poco</a> (a
				| C++ template library). Speech recognition was done using
				| <a href="http://msdn.microsoft.com/en-us/library/ee125663(v=vs.85).aspx">Microsoft's Speech API</a>
				| and the browser plugin itself was implemented with <a href="http://www.firebreath.org">FireBreath</a> - a cross
				| platform framework for creating browser plugins (using either NPAPI or ActiveX).
				| <a href="http://www.cmake.org">CMake</a> was used to build both Firefox and Chrome plugins.
		tr.poweritem
			td.poweritem-icon
				i.icon-play-sign.icon-2x
			td.poweritem
				| Check out the videos below for a demo of both plugins.
				| Firesay was also featured on <a href="http://news.cnet.com/8301-27076_3-20014191-248.html">CNET</a>.
		tr.poweritem
			td.poweritem
			td.poweritem
				<!-- TODO: This is not responsive :( -->
				h4 Firefox
				<iframe src="http://player.vimeo.com/video/14165544?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="500" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				h4 Chrome
				<iframe width="500" height="400" src="http://www.youtube.com/embed/VEApdCkwLzY?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
	table
		tr
			td(colspan="2")
				h3 CSEtella
				h5 <a href="https://github.com/itairos/CSEtella">Source Code</a>
		tr.poweritem
			td.poweritem-icon
				i.icon-group.icon-2x
			td.poweritem
				| CSEtella is a <a href="http://rfc-gnutella.sourceforge.net/">Gnutella</a>-like P2P network.
				| More details can be found
				| <a href="http://www.cs.washington.edu/education/courses/csep552/13sp/assignments/a3.html">here</a>.
		tr.poweritem
			td.poweritem-icon
				i.icon-code.icon-2x
			td.poweritem Implemented a P2P node with a web frontend for monitoring the node and a crawler for discovering the topology of the P2P network. The node uses the following open source projects:
				dl
					dt <a href="http://coffeescript.org">CoffeeScript</a>
					dd a programming language that transcompiles to JavaScript.
					dt <a href="http://nodejs.org">node.js</a>
					dd evented I/O in JavaScript.
					dt <a href="https://code.google.com/p/leveldb/">LevelDB</a>
					dd a fast key value storage library by Google.
					dt <a href="https://github.com/caolan/async">async<a/>, <a href="https://github.com/isaacs/node-lru-cache">lru-cache</a>, <a href="http://underscorejs.org">underscore.js</a>, <a href="http://momentjs.com">moment.js</a>
					dd node.js modules
					dt <a href="http://expressjs.com">Express</a>
					dd fast node.js network app framework by <a href="http://twitter.com/tjholowaychuk">@tjholowaychuk</a>.
					dt <a href="http://twitter.github.com/bootstrap">Bootstrap</a>
					dd UI boilerplate for modern web apps by Twitter.
					dt <a href="http://jquery.com">jQuery</a>
					dd A popular JavaScript library by <a href="https://twitter.com/jeresig">@jeresig</a>.
					dt <a href="http://angularjs.org">Angular.js</a>
					dd An MVC JavaScript library by Google.
					dt <a href="http://d3js.org">d3.js</a>
					dd A JavaScript visualization library.
		tr.poweritem
			td.poweritem(colspan="2")
				div#csetella-screenshots.carousel.slide(data-interval="false")
					ol.carousel-indicators
						li.active(data-target="#csetella-screenshots", data-slide-to="0")
						li(data-target="#csetella-screenshots", data-slide-to="1")
						li(data-target="#csetella-screenshots", data-slide-to="2")
							li(data-target="#csetella-screenshots", data-slide-to="3")
					div.carousel-inner
						div.active.item
							img(src="/images/csetella-topology.png", alt="")
							div.carousel-caption
								h4 Crawler
								p Discovery of the network's topology using breadth first search.
						div.item
							img(src="/images/csetella-monitor.png", alt="")
							div.carousel-caption
								h4 Web Frontend
								p Interesting stats about the node.
						div.item
							img(src="/images/csetella-peers.png", alt="")
							div.carousel-caption
								h4 Web Frontend II
								p List of nodes which replied or forwarded a message via the monitored node.
					a.carousel-control.left(href="#csetella-screenshots", data-slide="prev") &lsaquo;
					a.carousel-control.right(href="#csetella-screenshots", data-slide="next") &rsaquo;
	table
		tr
			td(colspan="2")
				h3#thiswebsite This Website
				h5 <a href="https://github.com/itairos/itairos.com">Source Code</a>
		tr.poweritem
			td.poweritem-icon
				i.icon-code.icon-2x
			td.poweritem This website was built using the following projects/technologies.
				dl
					dt <a href="http://nodejs.org">node.js</a>
					dd evented I/O in JavaScript.
					dt <a href="http://jade-lang.com">Jade</a>
					dd node template engine.
					dt <a href="http://expressjs.com">Express</a>
					dd fast node.js network app framework by <a href="http://twitter.com/tjholowaychuk">@tjholowaychuk</a>.
					dt <a href="http://twitter.github.com/bootstrap">Bootstrap</a>
					dd UI boilerplate for modern web apps by Twitter.
					dt <a href="http://jquery.com">jQuery</a>
					dd A popular JavaScript library by <a href="https://twitter.com/jeresig">@jeresig</a>.
					dt <a href="http://modernizr.com">Modernizr</a>
					dd HTML5/CSS3 feature detection JavaScript library.
					dt <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>
					dd The iconic font designed for Bootstrap.
					dt <a href="http://subtlepatterns.com">Subtle Patterns</a>
					dd A collection of free tilable textured patterns.
					dt <a href="https://www.heroku.com">Heroku</a>
					dd This website is hosted by Heroku - a cloud PaaS.
	hr
	blockquote
		p
			| When you’re a carpenter making a beautiful chest of drawers, you’re not going to use a piece
			| of plywood on the back, even though it faces the wall and nobody will ever see it. You’ll know
			| it’s there, so you’re going to use a beautiful piece of wood on the back. For you to sleep well
			| at night, the aesthetic, the quality, has to be carried all the way through.
		small Steve Jobs