#footer
  .container
    .row
      .col-lg-4#contact
        h4 Contact
        p
          a(href="https://twitter.com/itairos") Twitter<br/>
          a(href="https://github.com/itairos") GitHub<br/>
          a(href="http://www.linkedin.com/pub/itai-rosenberger/39/7aa/415/") LinkedIn<br/>
      .col-lg-4
        h4 Credits
        p
          | This website was built using: <a href="http://nodejs.org/">node.js</a>,
          | <a href="http://expressjs.com/">Express</a>,
          | <a href="http://jade-lang.com/">Jade</a>,
          | <a href="http://lesscss.org/">Less</a>,
          | <a href="http://getbootstrap.com/">Bootstrap</a>.<br/>Theme was adapted from
          | <a href="http://www.blacktie.co/2014/01/stanley-freelancer-theme/">Blacktie.co's Stanley</a>.
      .col-lg-4
        h4 Disclaimer
        p
          | This is a personal website and is <strong>not</strong> associated with my employer.
          | The opinions expressed here are my own and do not, in
          | any way, reflect the opinions of my employer.
    .row
      .col-lg-8.col-lg-offset-2.centered
        p.muted.credit.text-center &copy; Itai Rosenberger #{year} &middot; Made in Seattle, WA