.container.pt
  .row.mt.centered
    h1 Projects
    hr
  .row.mt.centered
    .col-lg-4.col-md-4
      a(href="/projects#windows8")
        img.center-block.img-responsive(src="images/portfolio/port01.png")
        p.project-name Windows 8
    .col-lg-4.col-md-4
      a(href="/projects#onenote")
        img.center-block.img-responsive(src="images/portfolio/port02.jpg")
        p.project-name OneNote for iOS, Mac
    .col-lg-4.col-md-4
      a(href="/projects#word")
        img.center-block.img-responsive(src="images/portfolio/port07.jpg")
        p.project-name Word for iOS, Mac
  .row.mt.centered
    .col-lg-4.col-md-4
      a(href="/projects#csetella")
        img.center-block.img-responsive(src="images/portfolio/port04.png")
        p.project-name CSEtella
    .col-lg-4.col-md-4
      a(href="/projects#mayorita")
        img.center-block.img-responsive(src="images/portfolio/port05.png")
        p.project-name Mayorita
    .col-lg-4.col-md-4
      a(href="/projects#firesay")
        img.center-block.img-responsive(src="images/portfolio/port06.png")
        p.project-name Firesay