html {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  height: 100%;
  background-image:url('../images/dust.png');
  background-repeat:repeat;
  /* The html and body elements cannot have any padding or margin. */
}

/* horizontal line */
hr {
  border-top: 1px solid #777777;
}

/* Pills */
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #dddddd;
}

.alert {
  border: 1px solid #dddddd;
}

.page-header {
  border-bottom: 1px solid #cccccc;
}

/* Footer */

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 80px;
}
#footer {
  background-color: #222;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container {
  width: auto;
  max-width: 680px;
}
.container .credit {
  margin: 20px 0;
}

/* Work page table customizations */
tr.poweritem > td {
  padding-bottom: 1em;
}

td.poweritem {
  vertical-align: middle;
}

td.poweritem-icon {
  vertical-align: middle;
  text-align: center;
  width: 50px;
}

.responsive-video {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50%;
  height: 0;
  margin-bottom: 10px;
  overflow: hidden;
}

.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.responsive-video.widescreen { padding-bottom: 60%; }

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .responsive-video { padding-top: 0; }
}