table#firesay
  tr
    td(colspan="2")
      h3.pull-left Firesay
  tr
    td(colspan="2")
      h5.pull-left <a href="https://chrome.google.com/webstore/detail/firesay/beckbffgfhclpfljgegiggbmgakjmlaj">Chrome</a> | <a href="https://addons.mozilla.org/en-us/firefox/addon/firesay/">Firefox</a>
    tr.poweritem
      td.poweritem-icon
        i.fa.fa-microphone.fa-2x
      td.poweritem
        | Firesay is a browser plugin for Firefox and Chrome that offers an enhanced web browsing experience with voice
        | commands. It was developed in 2009, long before the age of <a href="https://www.apple.com/ios/siri/">Siri</a> and <a href="http://www.windowsphone.com/en-us/how-to/wp8/cortana/meet-cortana">Cortana</a>. With Firesay, you can use your voice to search the web, watch TV shows, share on social networks, control tabs,
        | scroll through pages and more. Firesay is great for people who want to browse
        | the web more efficiently or for people who cannot use their hands to interact with the browser
        | (i.e. cooks, people with disabilities etc.).
    tr.poweritem
      td.poweritem-icon
        i.fa.fa-code.fa-2x
      td.poweritem
        | The plugin was written in C++, using STL and <a href="http://pocoproject.org">Poco</a> (a
        | C++ template library). Speech recognition was done using
        | <a href="http://msdn.microsoft.com/en-us/library/ee125663(v=vs.85).aspx">Microsoft's Speech API</a>
        | and the browser plugin itself was implemented with <a href="http://www.firebreath.org">FireBreath</a> - a cross
        | platform framework for creating browser plugins (using either NPAPI or ActiveX).
        | <a href="http://www.cmake.org">CMake</a> was used to build both Firefox and Chrome plugins.
    tr.poweritem
      td.poweritem-icon
        i.fa.fa-play-sign.fa-2x
      td.poweritem
        | Check out the videos below for a demo of both plugins.
        | Firesay was also featured on <a href="http://news.cnet.com/8301-27076_3-20014191-248.html">CNET</a>.
    tr
      td(colspan="2")
        .alert.alert-info This project is no longer under active development.
    tr.poweritem
      td.poweritem
      td.poweritem
        h4 Firefox
        .embed-responsive.embed-responsive-16by9 <iframe src="http://player.vimeo.com/video/14165544?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="500" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        h4 Chrome
        .embed-responsive.embed-responsive-16by9 <iframe width="500" height="400" src="http://www.youtube.com/embed/VEApdCkwLzY?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>