table#mayorita
  tr
    td(colspan="2")
      h3.pull-left Mayorita
  tr.poweritem
    td.poweritem-icon
      img(src="/images/mayorita/mayorino.png", style="width: 26px; height: 40px;")
    td.poweritem
      | Mayorita was a free web service that let users tap into the
      | knowledge and opinions of others by asking any yes/no question and getting
      | an aggregated answer within seconds!
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-mobile-phone.fa-3x
    td.poweritem
      | Designed and implemented Mayorita for iOS in Objective C, Cocoa Touch and
      | <a href="http://developer.apple.com/library/ios/#documentation/DataManagement/Conceptual/iPhoneCoreData01/Introduction/Introduction.html">
      | Core Data</a>. Used the following open source libraries: 
      | <a href="http://afnetworking.com">AFNetworking</a>,
      | <a href="https://github.com/jdg/MBProgressHUD">MBProgressHUD</a>,
      | <a href="https://github.com/romaonthego/REComposeViewController">REComposeViewController</a>.
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-rocket.fa-2x
    td.poweritem
      | Led the development of the backend server in <a href="http://rubyonrails.org">Ruby on Rails</a>,
      | defined features and helped integrate the backend with its mobile applications.
  tr
    td(colspan="2")
      .alert.alert-info This project is no longer under active development.
  tr.poweritem
    td(colspan="2")
      .embed-responsive.embed-responsive-16by9 <iframe src="http://player.vimeo.com/video/70761570?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="500" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      h5 Mayorita's Promotional Video