table#onenote
  tr
    td(colspan="2")
      h3.pull-left Microsoft OneNote for iOS, Mac
  tr
    td(colspan="2")
      h5.pull-left <a href="https://itunes.apple.com/us/app/microsoft-onenote-for-iphone/id410395246">iPhone</a> | <a href="https://itunes.apple.com/us/app/microsoft-onenote-for-ipad/id478105721">iPad</a> | <a href="https://itunes.apple.com/us/app/microsoft-onenote/id784801555">Mac</a>
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-edit.fa-2x
    td.poweritem
      | <a href="http://onenote.com">OneNote</a> is a beautiful note-taking app and part of the
      | <a href="http://office.com">Office</a> suite. OneNote helps you keep track of things in life and runs on desktops, laptops, tablets, phones
      | and browsers. It keeps your notes in sync across all devices.
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-thumbs-up.fa-2x
    td.poweritem
      | In July 2013, my team shipped an overhauled version of OneNote for iPad and for iPhone,
      | The team created a full-blown OneNote version for iOS with a completely redesigned user interface. For more details, check out 
      | <a href="http://thenextweb.com/microsoft/2013/07/01/onenote-for-android-and-ios-updated-with-consistent-formatting-office-365-syncing-unlimited-notes-and-more/">The Next Web</a>,
      | <a href="http://www.theverge.com/2013/7/1/4482868/onenote-android-iphone-ipad-version-2-update-features">The Verge</a>
      | and <a href="http://www.engadget.com/2013/07/01/onenote/">Engadget</a>. This update
      | helped our iOS apps improve their App Store ratings from 3 to 4 stars. The team continues to ship updates regularly.
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-apple.fa-2x
    td.poweritem
      | In March 2014, for the first time ever, my team shipped
      | <a href="http://blogs.office.com/2014/03/17/onenote-now-on-mac-free-everywhere-and-service-powered/">OneNote on the Mac</a>. We
      | celebrated this release by creating our own version of "One Day More" from Les Miserables (see below).
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-dashboard.fa-2x
    td.poweritem
      | Rearchitected the iOS and Mac apps to be asynchronous and multithreaded using <a href="http://developer.apple.com/library/ios/#documentation/Performance/Reference/GCD_libdispatch_Ref/Reference/reference.html">
      | Grand Central Dispatch</a>, making the app 74% more responsive.
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-th-list.fa-2x
    td.poweritem
      | Implemented the user interface for sections and pages on iOS and the various sync indicators on both iOs and Mac.
      | Improved the OneNote sync engine to better support mobile devices.
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-lock.fa-2x
    td.poweritem
      | Implemented section encryption (this feature is publicly known as "password protected sections") on iOS, Mac.
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-wrench.fa-2x
    td.poweritem
      | In July 2014, I participated in the first Microsoft hackathon. I initiated a project called OneLaTeX which
      | aimed to make OneNote understand <a href="http://en.wikipedia.org/wiki/LaTeX">LaTeX</a>. I was joined by 2 other
      | engineers and we had a demo ready in less than 2 days. The project won 3rd place in an internal group ranking.
  tr.poweritem
    td(colspan="2")
      img.center-block.img-responsive(src="images/onenote/oni-reddit-ama.jpg")
      h4 <a href="http://redd.it/1hxzad">We are the Microsoft OneNote Team - Ask us Anything, Reddit, July 2013</a>
  tr.poweritem
    td(colspan="2")
      .embed-responsive.embed-responsive-16by9 <iframe src="http://www.youtube.com/embed/WUsAPdv8JZ4?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>