table#windows8
  tr
    td(colspan="2")
      h3.pull-left Windows 8
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-windows.fa-2x
    td.poweritem
      | I was one of the first engineers to work on a brand new feature in
      | Windows 8 called <a href="http://www.microsoft.com/en-us/windows/enterprise/products-and-technologies/devices/windowstogo.aspx">
      | Windows To Go</a>, an enterprise feature that allows booting and running Windows 8 from USB
      | drives.
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-code.fa-2x
    td.poweritem
      | As part of my work on Windows To Go, I designed and implemented a variety of components throughout the Windows stack, from UI in C++, through 
      | Win32 DLLs, to boot sector code in assembly. My code literally runs on tens of millions of machines worldwide.
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-lightbulb-o.fa-2x
    td.poweritem
      | My colleagues and I invented <a href="http://www.google.com/patents/US20120284494">a method to dynamically redirect boot to another operating
      | system</a> (patent pending), so that booting into a Windows 8 USB drive is simple and easy without 
      | fiddling with BIOS settings.
  tr.poweritem
    td(colspan="2")
      img.center-block.img-responsive(src="images/portfolio/port01.png")