table#word
  tr
    td(colspan="2")
      h3.pull-left Microsoft Word for iOS, Mac
  tr
    td(colspan="2")
      h5.pull-left <a href="https://itunes.apple.com/us/app/microsoft-word-for-ipad/id586447913">iOS</a> | <a href="http://www.microsoft.com/mac/word">Mac</a>
  tr.poweritem
    td.poweritem-icon
      i.fa.fa-file-word-o.fa-2x
    td.poweritem
      | I recently (August 2014) moved from the OneNote team to the Word team as an engineering lead. My team's focus
      | is to bring Word to Apple platforms (iOS and OS X). Not too much to update at the moment <i class="fa fa-smile-o"></i>, please check back soon!